.monthNav a{
	margin: 5px 10px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
.form-inline{
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	border-radius         : 3px;
}
h4{
	text-align: center;
}
.departList ul{
	list-style: none;
}
.jumbotron h1{
	color: white;
}
.jumbotron{
	margin-bottom: 0;
}
.photoby{
	float: right;
	margin-top: 0;
}
.departDetailList{
	clear: both;
	list-style: none;
}
#feed{
	list-style: none;
}